<%- include('./partials/header') %>
    
<section class="home-page">
    <h1><%= title %></h1>

    <p class="intro">Track your books and journal about it all in the same place.</p>
</section>
<%- include('./partials/footer') %>
