<%- include('./partials/header') %>
    <h1><%= title %></h1>
    <!----<p>Welcome to <%= title %></p>-->

    <p class="intro">Track your reads and leave your own personal commentary.</p>
    <p class="intro"> A new fun way to document your books and your favorite moments.</p>


<%- include('./partials/footer') %>

